
services:
  frontend:
    build: ./frontend
    ports:
      - "5000:5000"
    depends_on:
      - catalog
      - order

  catalog:
    build: ./catalog_service
    ports:
      - "5001:5001"

  order:
    build: ./order_service  
    ports:
      - "5002:5002"